<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITagProcessing" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IMonitoring" />
                <binding name="WSDualHttpBinding_IAlarmMonitoring" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60923/Service/TagProcessing.svc/T"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITagProcessing"
                contract="TagProcessingServiceReference.ITagProcessing" name="BasicHttpBinding_ITagProcessing" />
            <endpoint address="http://localhost:60923/Service/TagProcessing.svc/M"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IMonitoring"
                contract="TagProcessingServiceReference.IMonitoring" name="WSDualHttpBinding_IMonitoring">
                <identity>
                    <userPrincipalName value="NIKOLAPC\nmari" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:60923/Service/TagProcessing.svc/A"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_IAlarmMonitoring"
                contract="TagProcessingServiceReference.IAlarmMonitoring"
                name="WSDualHttpBinding_IAlarmMonitoring">
                <identity>
                    <userPrincipalName value="NIKOLAPC\nmari" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>