<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRealTimeDriver" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60923/Service/RealTimeDriver.svc/RTD"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRealTimeDriver"
                contract="RTD.IRealTimeDriver" name="BasicHttpBinding_IRealTimeDriver" />
        </client>
    </system.serviceModel>
</configuration>